@import '../../../assets/scss/custom_variables';

.category {
  background: $white;
  box-shadow: 0 2px 8px hsla(0,0%,57.3%,.5);
  padding: 1rem;
  height: 100%;
  a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
  }
}
.col_category {
  margin-bottom: 2rem;
}
.image_category {
  @include inline-block();
  margin: 0 rem-calc(10) 0 0;
}



