@import '../../../../assets/scss/custom_variables';
.home_slider {
  img {
    width: 100%;
  }
}
.carousel_caption {
  background: rgba(186, 160, 99, .7);
  color: $white;
  bottom: auto;
  top: 20px;
  left: 30%;
  right: 30%;
  position: absolute;
  text-align: center;
  h3 {
    color: $white;
  }
  p {
    margin: 0;
  }
}
